*.drawio.*
*.plantuml
.idea
.vscode
*.key
.DS_store
*.pem
*.png

# node files
/app/node_modules
/src/node_modules
.npmrc
# env folder
env
k8s
logs


.vscode/*
!.vscode/extensions.json

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/*
.env
*.plantuml
.npmrc